<!DOCTYPE html>
<html>

<head>

    <title>Kings N' Things</title>
    <!-- // <script src="kinetic-v4.4.0.min.js"></script> -->
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="styles/sheet1.css">
    <link rel="stylesheet" href="styles/kendo.common.min.css">
    <link rel="stylesheet" href="styles/kendo.default.min.css">
    <script type="text/javascript" src="libs/js/kinetic-v4.5.3.min.js"></script>
</head>

<body>
    <div id="help">
        <div id="help-headers">
            <span><a class="section" href="#help-gameplay">Gameplay</a>
            </span>
            <span><a class="section" href="#help-income">Income/Gold</a>
            </span>
            <span><a class="section" href="#help-towers">Towers</a>
            </span>
            <span><a class="section" href="#help-loadgame">Load Game</a>
            </span>
            <!-- <span><a class="section" href="#help-savegame">Save Game</a>
            </span> -->
            <span><a class="section" href="#help-hotkeys">Hotkeys</a>
            </span>
        </div>
        <div id="help-sections">
            <div id="help-gameplay">
                <p>Kings and Things!</p>
            </div>
            <div id="help-income">
                <p>In the gold collection phase, you will automatically receive
                    the amount of income you have collected in the previous game
                    turn</p>
                <ul>
                    <li>You get 1 gold for each hex tile that you own.</li>
                    <li>You get 1 gold per hero that you have in your army.</li>
                    <li>You get gold per the value of each income counter you placed.</li>
                    <li>You get gold per the value of each fort you placed.</li>
                </ul>
            </div>
            <div id="help-loadgame">
                <button onclick="loadGame1()"> <h2>Demo: Predefined Scenario 1 </h2> <p>Gold Collection Phase</p><p>Citadel and Winning</p> </button>
                <button onclick="loadGame2()"> <h2>Demo: Predefined Scenario 2 </h2> <p>Scenario 1 + Gold Collection Phase<p>Special Income and turn change.</p> </button>
            </div>
            <div class="visible" id="help-hotkeys">
                <h4>Hotkeys:</h4>
                <ul>
                    <li>C – Cup - get new thing</li>
                    <li>E – End turn</li>
                    <li>G – Collect gold</li>
                    <li>R – Roll dice</li>
                    <li>S – Place start marker</li>

                    <li>F – Place Fort</li>
                    <li>D – Show/Hide cheat dice</li>
                    <li>H – Help!</li>
                </ul>
            </div>
        </div>
    </div>


    <div id="container" class="noselect">

        <div>
            <b id="phasetext" class="label">Current Phase: </b>
            <b id="playerturntext" class="label">Current Player Turn: </b>
        </div>
<br />
        <div id="armystats0" style="position:absolute">
            <div id="armybg0" class="k-block">
                <div class="k-header"><b class="label" style="padding:22px">Player 1</b>
                </div>
                <b id="gold_yellow">Gold: 10</b><br />
                <b id="income_yellow">Income: 0</b><br />
                <b id="free_yellow">Free Things: 0</b><br />
            </div>
        </div>

        <div id="armystats1" style="position:absolute">
            <div id="armybg1" class="k-block">
                <div class="k-header"><b class="label" style="padding:22px">Player 2</b>
                </div><b id="gold_grey">Gold: 10</b><br />
                <b id="income_grey">Income: 0</b><br />
                <b id="free_grey">Free Things: 0</b><br />
            </div>
        </div>

        <div id="armystats2" style="position:absolute">
            <div id="armybg2" class="k-block">
                <div class="k-header"><b class="label" style="padding:22px">Player 3</b>
                </div><b id="gold_green">Gold: 10</b><br />
                <b id="income_green">Income: 0</b><br />
                <b id="free_green">Free Things: 0</b><br />
            </div>
            <!-- <div class="k-block" style="float:left">
                <div class="k-header"><b class="label" style="padding:22px">Income</b>
                </div><b id="income_green">(+0)</b>
            </div> -->
        </div>

        <div id="armystats3" style="position:absolute">
            <div id="armybg3" class="k-block">
                <div class="k-header"><b class="label" style="padding:22px">Player 4</b>
                </div><b id="gold_red">Gold: 10</b><br />
                <b id="income_red">Income: 0</b><br />
                <b id="free_red">Free Things: 0</b><br />
            </div>
            <!-- <div class="k-block" style="float:left">
                <div class="k-header"><b class="label" style="padding:22px">Income</b>
                </div><b id="income_red">(+0)</b>
            </div> -->
        </div>

        <script type="text/javascript" src="javascripts/bowl.js"></script>
        <script type="text/javascript" src="javascripts/dice.js"></script>

        <script src="javascripts/utils.js"></script>
        <script src="javascripts/pieces.js"></script>
        <script src="javascripts/classes.js"></script>
        <script src="javascripts/namegen.js"></script>

        <script src="libs/js/jquery-1.2.6.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="libs/js/effects.core.js"></script>
        <script src="javascripts/definegrid.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/client.js"></script>
        <script>

        var getIdFromURL = function(url) {
            return url.slice(url.indexOf("#"));
        }

        $("#help-headers .section").click(function() {
            $("#help-sections div").hide();
            $(getIdFromURL(this.href)).show();
            $("#help-headers .section").removeClass("active");
            $(this).addClass("active");
            return false;
        });

        var help_displayed = false;
        var toggle_help = function() {
            help_displayed = !help_displayed;
            if (help_displayed) {
                $("#help").show();
                $("#help_button").addClass("active_mode");
            } else {
                $('#help').hide();
                $('#help_button').removeClass('active_mode');
            }
        };
        </script>
    </div>


    <!--  <audio src="gun.mp3" id="gunaudio" type="audio/mpeg">
    <audio src="axe.mp3" id="axeaudio" type="audio/mpeg">        -->



     <div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
    <b>Users</b>
    <div id="users">
        <p id="user"></p>
    </div>
</div>


</body>

</html>
