html {
  background: #000;
}

body {
  color: #fff;
}
.label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-select: none;
    font-family:Lucida Console;
    z-index:1;
    position: relative;
}

#help {
    background: black;
    margin-top: 25px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
    height: 400px;
    position: absolute;
    z-index: 1000;
    display: none;
    border: 3px solid black;
}


#help-sections div {
    display: none;
}

#help-sections div.visible {
    display: block;
}
#help-headers {
    padding: 10px;
    border-bottom: 2px solid black;
}

#help .missile-tower { color: rgb(250,150,50); }
#help .laser-tower { color: rgb(90,150,50); }
#help .cannon-tower { color: rgb(100,120,140); }
#help .gatling-tower { color: rgb(250,250,50); }

#help .normal-creep { color: rgb(255,255,0);}
#help .quick-creep {color: rgb(200,150,50);}
#help .strong-creep {color: rgb(0,255,255);}
#help .boss-creep {color: rgb(255,100,150);}

#help .neutral-terrain {color: rgb(200,200,200);}
#help .mountain-terrain {color: rgb(228,51,51);}
#help .water-terrain {color: rgb(78,150,236);}
#help .power-plant-terrain {color: rgb(189,194,78);}

#help .bomb {color: rgb(100,120,140);}
#help .nuke {color: rgb(255,70,30);}
.noselect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-select: none;
}

#unitstats {
    z-index: 1000;
}

#armystats1 {
    z-index: 1000;
}

#armystats2 {
    z-index: 1000;
}

#armystats3 {
    z-index: 1000;
}

#armystats4 {
    z-index: 1000;
}

#melee {
    z-index: 1000;
}

#melee {
    z-index: 1000;
}

#melee {
    z-index: 1000;
}

#melee {
    z-index: 1000;
}
